.welcome-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #8f0b0b;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.navigation-buttons {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.btn {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 70%;
  border-radius: 4px;
  font-size: 1.1rem;
}

.btn:hover {
  background-color: #45a049;
}
