/* Navbar layout */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Positioning search bar on the left */
.search-container {
  flex: 1;
}

/* Buttons on the right */
button {
  margin-left: 10px;
}

/* Main content layout */
div.content {
  display: flex;
  justify-content: space-between;
}

/* 2/3 for individual items and forms */
div.content > div.main {
  flex: 2;
}

/* 1/3 for the entire list */
div.content > div.list {
  flex: 1;
}
